body {
    background: lightblue;
    margin: 10px;
   
  }
h1{
    font-size: 30pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 /* Div */
  
  #divError{
      background: red;
  }

/* div {
      border-radius: 15px 50px;
      border: 2px solid #73AD21;  
     background: green;
    height: 250px;
    width: 250px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    margin: 10px;   
 
} */

/* menu bar  */
.newagentform{
    clear: both;
}
.gridwrapper{
   
}
.grid{
    width: 250px;
    height: 250px;
    border:  2px solid black;
    border-radius: 12px;
    text-align:  center;
    font-size: 16pt;
    font-weight: bold;
    padding: 5px;
    margin: 2px;
    float: left;
}
  ul {
    list-style-type: none;
    margin: 15px;
    padding: 10px;
    overflow: hidden;
    background-color: grey;
}

li {
float: right;
}
#ulExecuteCommand{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}

li a:hover {
    background-color: black;
}
