body {
    background: lightblue;
    margin: 10px;
   
  }
h1{
    font-size: 30pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* menu bar  */
.newagentform{
    clear: both;
}
.gridwrapper{
   
}
.grid{
    width: 250px;
    height: 250px;
    border:  2px solid black;
    border-radius: 12px;
    text-align:  center;
    font-size: 16pt;
    font-weight: bold;
    padding: 5px;
    margin: 2px;
    float: left;
}
  ul {
    list-style-type: none;
    margin: 15px;
    padding: 10px;
    overflow: hidden;
    background-color: grey;
}

.buttonFloatRight{
float: right;
}
.btnExecuteCommand{
    float: left;
}

